$gradientColor: linear-gradient(120deg, #b2d0ff 0%, #a3c9db 100%);
$whiteColor: #fff;
$grayColor: rgb(105, 108, 109);
$transparentColor: rgba(255, 255, 255, 0.3);
$boxShadowBlack: 0 2px 10px rgba(0, 0, 0, 0.1);
$blueColor: #86c1f6;
$darkBlueColor: #6fb7f6;